# misc
.gitignore
node_modules/
.DS_Store
CONTRIBUTING.md

# source
**/*.ts
*.ts
/test

# definitions
!**/*.d.ts
!*.d.ts

# configuration
gulpfile.js
tsconfig.json
tools
/test/jest-config.json
/.vscode
.commitlint.config.ts
.eslintrc.json
.eslintignore
.prettierrc.json
.prettierignore
